<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.JSK.MultiplicationGame"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Multiplication Game</name>

  <description>
      Game for Grade-2 and Grade-3 students to practice multiplication
  </description>

  <author email="jasjeet001@gmail.com">
      Jaskaran Singh
  </author>
  </icon src="icon.png" />

</widget>